run = "npm start || yarn start || node ."
# stop =  "npm stop || yarn stop"
entrypoint = "settings.js"
hidden = [".settings"]




[unitTest]
language = "nodejs"

onBoot = "npm i || yarn"

[nix]
channel = "stable-23_05"

[deployment]
run = ["yarn","start"]
deploymentTarget = "cloudrun"
ignorePorts = false
 
